{% extends "layout.html" %}

{% block title %}
	To do
{% endblock %}

{% block current %}
	<div class="container">

		<h2>List of current tasks</h2>

		{% for task in tasks %}
		<div class="input-group">
		  	<span class="form-control">{{ task[1] }}</span> 
		  	<div class="input-group-append">
			  	<form action="{{ url_for('delete')}}" method="post">
					<input type="hidden" name="index" value="{{ task[0] }}">
					<button class="btn btn-outline-dark">Delete</button>
				</form>
				<form action="{{ url_for('done')}}" method="post">
					<input type="hidden" name="done" value="{{ task[0] }}">
					<button class="btn btn-outline-dark">Done</button>
				</form>
		  	</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block form %}
	<div class="container">
		<h2>Add task</h2>

		<form action="{{ url_for('add')}}" method="post">
			<div class="form-group row">
				<div class="col-sm-10">
					<input type="text" name="task" class="form-control">
				</div>
				<div class="col-sm-2">
					<button class="btn btn-outline-dark">Add Note</button>
				</div>
			</div>
		</form>
	</div>

{% endblock %}

{% block done %}
	<div class="container">

		<h2>Finished tasks</h2>

		{% for item in finished %}
	  	<div class="input-group">
			<span class="form-control">{{ item [1] }}</span> 
			<div class="input-group-append">
			  	<form action="{{ url_for('terminate')}}" method="post">
					<input type="hidden" name="terminate" value="{{ item[0] }}">
					<button class="btn btn-outline-dark">Delete</button>
				</form>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}